app/src/main/java/com/sinux/pocketboard/input/schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="keyboardMapping">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="keyMapping">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="keyMappingValue">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>

